{% extends "layout.html" %} 
{% block title %} My Cat Cali {% endblock %} 
{% block body %}
<div class="grid grid-cols-2 md:grid-cols-4 gap-4 m-10">
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dpm4kmh00/image/upload/v1714286344/portfolio%20assets/cali/20240420_113020_mploqv.jpg" alt="calico cat">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dpm4kmh00/image/upload/v1714286341/portfolio%20assets/cali/IMG_20240402_022012_445_n4frod.jpg" alt="calico cat">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dpm4kmh00/image/upload/v1714286341/portfolio%20assets/cali/IMG_20240402_022012_523_xnx6do.jpg" alt="calico cat">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dpm4kmh00/image/upload/v1714286341/portfolio%20assets/cali/IMG_20240402_022012_554_jsjtnj.jpg" alt="calico cat">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-4.jpg" alt="calico cat">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-5.jpg" alt="calico cat">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-6.jpg" alt="calico cat">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-7.jpg" alt="calico cat">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-8.jpg" alt="calico cat">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-9.jpg" alt="calico cat">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-10.jpg" alt="calico cat">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-11.jpg" alt="calico cat">
        </div>
    </div>
</div>
{% include "btm-nav.html" %}
{% endblock %}