{% extends "layout.html" %} 
{% block title %} My Cat Cali {% endblock %} 
{% block body %}
<div class="grid grid-cols-2 md:grid-cols-4 gap-4 m-10">
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dpm4kmh00/image/upload/v1714286344/portfolio%20assets/cali/20240420_113020_mploqv.jpg" alt="calico cat">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dpm4kmh00/image/upload/v1714286341/portfolio%20assets/cali/IMG_20240402_022012_445_n4frod.jpg" alt="calico cat">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dpm4kmh00/image/upload/v1714286341/portfolio%20assets/cali/IMG_20240402_022012_523_xnx6do.jpg" alt="calico cat">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dpm4kmh00/image/upload/v1714286341/portfolio%20assets/cali/IMG_20240402_022012_554_jsjtnj.jpg" alt="calico cat">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dpm4kmh00/image/upload/v1714286341/portfolio%20assets/cali/IMG_20240402_022012_399_mqqqia.jpg" alt="calico cat">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dpm4kmh00/image/upload/v1714286339/portfolio%20assets/cali/IMG_20240402_022012_371_ipi6tw.jpg" alt="calico cat">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dpm4kmh00/image/upload/v1714286339/portfolio%20assets/cali/IMG_20240402_022012_336_bckqr0.jpg" alt="calico cat">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dpm4kmh00/image/upload/v1714286338/portfolio%20assets/cali/PXL_20230218_222429999_awawfv.jpg" alt="calico cat">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dpm4kmh00/image/upload/v1714286338/portfolio%20assets/cali/PXL_20230607_205324256_dohyyf.jpg" alt="calico cat">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dpm4kmh00/image/upload/v1714286337/portfolio%20assets/cali/PXL_20220904_005538584.MP_lbjipp.jpg" alt="calico cat">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dpm4kmh00/image/upload/v1714286337/portfolio%20assets/cali/PXL_20220829_185138260.PORTRAIT_tqst8y.jpg" alt="calico cat">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dpm4kmh00/image/upload/v1714286337/portfolio%20assets/cali/20240313_162132_046_saved_zpwooj.jpg" alt="calico cat">
        </div>
    </div>
</div>
{% include "btm-nav.html" %}
{% endblock %}