{% extends "layout.html" %} 
{% block title %} Contact Me {% endblock %} 
{% block body %}

<div id="outer">
    <div class="avatar">
        <div class="w-24 rounded-full">
          <img src="https://res.cloudinary.com/dpm4kmh00/image/upload/v1714336283/portfolio%20assets/ashlyn_pvzsbw.jpg" />
        </div>
      </div>
    <p>DEVELOPER IN PROGRESS</p>
    <h1>Ashlyn May</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Felis quas quos voluptates. Tempus, quos. </p>

</div>


{% include "nav-contact.html" %}
{% endblock %}