{% extends "layout.html" %} 
{% block title %} Contact Me {% endblock %} 
{% block body %}
<div class="outer"></div>
<div class="outer prose">
    <h1 class="contactname">Ashlyn May</h1>
    <p class="contactdescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Felis quas quos voluptates. Tempus, quos. Lorem ipsum dolor <u>sit amet.</u></p>
    <button class="btn btn-secondary btn-outline">Email</button>
    <ul class="sociallist">
        <li><a href="https://github.com/ashlynmay"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5"><path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"/></svg></a></li>
        <li><a href="https://github.com/ashlynmay"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5"><path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"/></svg></a></li>
        <li><a href="https://github.com/ashlynmay"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5"><path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"/></svg></a></li>
        <li><a href="https://github.com/ashlynmay"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5"><path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"/></svg></a></li>
        <li><a href="https://github.com/ashlynmay"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5"><path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"/></svg></a></li>
    </ul>
</div>

{% include "nav-contact.html" %}
{% endblock %}