{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<div class="hero bg-neutral" id="home_hero">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="https://cdn.discordapp.com/attachments/972080189339213875/1233187332547416124/Screenshot_20240425_174602_Photos.jpg?ex=662c2eb3&is=662add33&hm=25f4c702fc49511a363c87e94bd478ddf61d03af42c3e2d38ac8f63ad0ebfd8c&" class="max-w-sm max-h-sm rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold">Ashlyn May</h1>
        <p class="py-6">I am currently on the path to becoming a full stack developer. I have experience with C, HTML, CSS, JavaScript, Python, and SQL.</p>
        <button class="btn btn-primary" href="/portfolio">View Portfolio</button>
      </div>
    </div>
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-start timeline-box">Discord Inspired Mobile ST Theme</div>
      <div class="timeline-middle">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-primary"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
      </div>
      <hr class="bg-secondary"/>
    </li>
    <li>
    <hr class="bg-secondary"/>
      <div class="timeline-middle">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-primary"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
      </div>
      <div class="timeline-end timeline-box">CS50x - Feb 20th 2024</div>
      <hr class="bg-secondary"/>
    </li>
    <li>
      <hr class="bg-secondary"/>
      <div class="timeline-start timeline-box">Discord Inspired Mobile ST Rewrite</div>
      <div class="timeline-middle">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
      </div>
      <hr/>
    </li>
    <li>
      <hr/>
      <div class="timeline-middle">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
      </div>
      <div class="timeline-end timeline-box">The Odin Project - May 12th 2024</div>
      <hr/>
    </li>
    <li>
      <hr/>
      <div class="timeline-start timeline-box">To Be Determined</div>
      <div class="timeline-middle">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
      </div>
    </li>
  </ul>
{% endblock %}