{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="https://daisyui.com/images/stock/photo-1635805737707-575885ab0820.jpg" class="max-w-sm rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold">Ashlyn May</h1>
        <p class="py-6">I am currently on the path to becoming a full stack developer. I have experience with C, HTML, CSS, JavaScript, Python, and SQL.</p>
        <button class="btn btn-primary" href="/portfolio">View Portfolio</button>
      </div>
    </div>
  </div>
{% endblock %}