{% extends "layout.html" %}

{% block title %}
    Past Projects
{% endblock %}

{% block body %}
    <div class="prose flex justify-center pt-6">
        <h1>Projects</h1>
        <br>
        {% if c_projects is not none %}
            <h2>Projects Written in C</h2>
            <div id="projectcards">
                {% for project in c_projects %}
                    <div class="card w-52 m-5 bg-neutral shadow-xl">
                        <figure><img src="{{ project['image'] }}" alt="placeholder" /></figure>
                        <div class="card-body">
                        <h2 class="card-title">{{ project['name'] }}</h2>
                        <p>{{ project['description'] }}</p>
                        <div class="card-actions justify-end">
                            <button class="btn btn-primary" onclick="window.location.href='{{ project['link'] }}'">Source</button>
                        </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <br>
        {% if py_projects is not none %}
        <h2>Projects Written in Python</h2>
        <div id="projectcards">
            {% for project in py_projects %}
                <div class="card w-52 m-5 bg-neutral shadow-xl">
                    <figure><img src="{{ project['image'] }}" alt="placeholder" /></figure>
                    <div class="card-body">
                    <h2 class="card-title">{{ project['name'] }}</h2>
                    <p>{{ project['description'] }}</p>
                    <div class="card-actions justify-end">
                        <button class="btn btn-primary" onclick="window.location.href='{{ project['link'] }}'">Source</button>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        <br>
        {% if web_projects is not none %}
        <h2>Web Development Projects</h2>
        <div id="projectcards">
            {% for project in web_projects %}
                <div class="card w-52 m-5 bg-neutral shadow-xl">
                    <figure><img src="{{ project['image'] }}" alt="placeholder" /></figure>
                    <div class="card-body">
                    <h2 class="card-title">{{ project['name'] }}</h2>
                    <p>{{ project['description'] }}</p>
                    <div class="card-actions justify-end">
                        <button class="btn btn-primary" onclick="window.location.href='{{ project['link'] }}'">Source</button>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        <br>
        {% if other_projects is not none %}
        <h2>Other Projects</h2>
        <div id="projectcards">
            {% for project in other_projects %}
                <div class="card w-52 m-5 bg-neutral shadow-xl">
                    <figure><img src="{{ project['image'] }}" alt="placeholder" /></figure>
                    <div class="card-body">
                    <h2 class="card-title">{{ project['name'] }}</h2>
                    <p>{{ project['description'] }}</p>
                    <div class="card-actions justify-end">
                        <button class="btn btn-primary" onclick="window.location.href='{{ project['link'] }}'">Source</button>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
        

{% endblock %}