{% extends "layout.html" %}

{% block title %}
    Past Projects
{% endblock %}

{% block body %}
    <div class="prose flex justify-center pt-6">
        <h1>Past Projects</h1>
    </div>
        
    <div id="projectcards">
        {% for project in projects %}
            <div class="card w-52 bg-neutral shadow-xl">
                <figure><img src="https://cdn.discordapp.com/attachments/972080189339213875/1233443991165599826/image.png?ex=662d1dbb&is=662bcc3b&hm=d854c40096d139a3287119cf1aee2873c22a19a46590834953438164f4204a30&" alt="placeholder" /></figure>
                <div class="card-body">
                <h2 class="card-title">{{ project['name'] }}</h2>
                <p>{{ project['description'] }}</p>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary">Source</button>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}