{% extends "layout.html" %} {% block title %} Past Projects {% endblock %} {%
block body %}
<div id="projects" class="prose flex justify-center pt-6">
  <h1 id="projecttitle">Projects</h1>
  {% if c_projects %}
  <h2 class="projecttitle">Projects Written in C</h2>
  <div id="projectcards">
    {% for project in c_projects %}
    <div class="card w-52 m-5 bg-neutral shadow-xl">
      <figure><img src="{{ project['image'] }}" alt="placeholder" /></figure>
      <div class="card-body">
        <h2 class="card-title">{{ project['name'] }}</h2>
        <p>{{ project['description'] }}</p>
        <div class="card-actions justify-end">
          <button
            class="btn btn-primary"
            onclick="window.location.href='{{ project['link'] }}'"
          >
            Source
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if py_projects %}
  <br />
  <h2 class="projecttitle">Projects Written in Python</h2>
  <div id="projectcards">
    {% for project in py_projects %}
    <div class="card w-52 m-5 bg-neutral shadow-xl">
      <figure><img src="{{ project['image'] }}" alt="placeholder" /></figure>
      <div class="card-body">
        <h2 class="card-title">{{ project['name'] }}</h2>
        <p>{{ project['description'] }}</p>
        <div class="card-actions justify-end">
          <button
            class="btn btn-primary"
            onclick="window.location.href='{{ project['link'] }}'"
          >
            Source
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if web_projects %}
  <br />
  <h2 class="projecttitle">Web Development Projects</h2>
  <div id="projectcards">
    {% for project in web_projects %}
    <div class="card w-52 m-5 bg-neutral shadow-xl">
      <figure><img src="{{ project['image'] }}" alt="placeholder" /></figure>
      <div class="card-body">
        <h2 class="card-title">{{ project['name'] }}</h2>
        <p>{{ project['description'] }}</p>
        <div class="card-actions justify-end">
          <button
            class="btn btn-primary"
            onclick="window.location.href='{{ project['link'] }}'"
          >
            Source
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if other_projects %}
  <br />
  <h2 class="projecttitle">Other Projects</h2>
  <div id="projectcards">
      {% for project in other_projects %}
      <div class="card w-52 m-5 bg-neutral shadow-xl">
        <figure><img src="{{ project['image'] }}" alt="placeholder" /></figure>
        <div class="card-body">
          <h2 class="card-title">{{ project['name'] }}</h2>
          <p>{{ project['description'] }}</p>
          <div class="card-actions justify-end">
            <button
              class="btn btn-primary"
              onclick="window.location.href='{{ project['link'] }}'"
            >
              Source
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}

