{% extends "layout.html" %} 
{% block title %} Past Projects {% endblock %} 
{%block body %}
<div id="projects" class="prose flex justify-center pt-6">
  <h1 id="projecttitle">Projects</h1>
  <hr style="width: 100vw; margin: 1.5rem;">
  {% if c_projects %}
  <h2 class="projecttitle">Projects Written in C</h2>
  <div id="projectcards">
    {% for project in c_projects %}
    <div class="card w-64 m-5 bg-neutral shadow-xl">
      <figure><img src="{{ project['image'] }}" alt="placeholder" /></figure>
      <div class="card-body">
        <h2 class="card-title">{{ project['name'] }}</h2>
        <p>{{ project['description'] }}</p>
        <div class="card-actions justify-end">
          <button
            class="btn btn-primary"
            onclick="window.location.href='{{ project['link'] }}'"
          >
            Source
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if py_projects %}
  <br />
  <h2 class="projecttitle">Projects Written in Python</h2>
  <div id="projectcards">
    {% for project in py_projects %}
    <div class="card w-64 m-5 bg-neutral shadow-xl">
      <figure><img src="{{ project['image'] }}" alt="placeholder" /></figure>
      <div class="card-body">
        <h2 class="card-title">{{ project['name'] }}</h2>
        <p>{{ project['description'] }}</p>
        <div class="card-actions justify-end">
          <button
            class="btn btn-primary"
            onclick="window.location.href='{{ project['link'] }}'"
          >
            Source
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if web_projects %}
  <br />
  <h2 class="projecttitle">Web Development Projects</h2>
  <div id="projectcards">
    {% for project in web_projects %}
    <div class="card w-64 m-5 bg-neutral shadow-xl">
      <figure><img src="{{ project['image'] }}" alt="placeholder" /></figure>
      <div class="card-body">
        <h2 class="card-title">{{ project['name'] }}</h2>
        <p>{{ project['description'] }}</p>
        <div class="card-actions justify-end">
          <button
            class="btn btn-primary"
            onclick="window.location.href='{{ project['link'] }}'"
          >
            Source
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if other_projects %}
  <br />
  <h2 class="projecttitle">Other Projects</h2>
  <div id="projectcards">
    {% for project in other_projects %}
    <div class="card w-64 m-5 bg-neutral shadow-xl">
      <figure><img src="{{ project['image'] }}" alt="placeholder" /></figure>
      <div class="card-body">
        <h2 class="card-title">{{ project['name'] }}</h2>
        <p>{{ project['description'] }}</p>
        <div class="card-actions justify-end">
          <button
            class="btn btn-primary"
            onclick="window.location.href='{{ project['link'] }}'"
          >
            Source
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>

<link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="./styles.css" />
  </head>

  <body>
    <div id="my-keen-slider" class="keen-slider">
      <div class="keen-slider__slide number-slide1">1</div>
      <div class="keen-slider__slide number-slide2">2</div>
      <div class="keen-slider__slide number-slide3">3</div>
      <div class="keen-slider__slide number-slide4">4</div>
      <div class="keen-slider__slide number-slide5">5</div>
      <div class="keen-slider__slide number-slide6">6</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.js"></script>
    <script src="./script.js"></script>
{% endblock %}
