@tailwind base;
@tailwind components;
@tailwind utilities;

#home_hero {
    border-bottom-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
}

.timeline {
    justify-content: center;
}

.navbar, .p-2 {
    z-index: 2000;
}

.p-2 {
    width: 15vw;
}

.max-h-60vh {
    max-height: 60vh;
}

#projectcards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#projects {
    flex-direction: column;
}

h2 {
    margin-top: n