@tailwind base;
@tailwind components;
@tailwind utilities;

#home_hero {
  border-bottom-left-radius: 3vw;
  border-bottom-right-radius: 3vw;
}

.timeline {
  justify-content: center;
}

.navbar,
.p-2 {
  z-index: 2000;
}

.p-2 {
  width: 15vw;
}

.max-h-60vh {
  max-height: 60vh;
}

#projectcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
}

#projects {
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
}

h2 {
  margin-top: 0 !important;
}

#projecttitle {
  position: relative;
  max-width: 100%;
  margin-bottom: 0;
  padding: unset;
}

.projecttitle {
  position: relative;
  max-width: 100%;
}

.card figure {
  margin: 0;
}

body {
  margin-bottom: 5rem;
}

.max-h-50vh {
  max-height: 50vh;
}

.projbutton {
  position: relative;
  left: 80rem;
}