{% extends "layout.html" %}

{% block title %}
    Purchase a given stock.
{% endblock %}

{% block main %}
    <h4>Purchase a given stock.</h4>
    <hr>
        <form action="/buy" method="post">
            <div class="mb-3">
                <input autocomplete="off" maxlength="5" class="form-control mx-auto w-auto" name="symbol" placeholder="Stock Symbol" type="text">
            </div>
            <div class="mb-3">
                <input autocomplete="off" maxlength="5" class="form-control mx-auto w-auto" name="shares" placeholder="Amount of Shares" type="number" required>
            </div>
            <button class="btn btn-primary" type="submit">Purchase</button>
        </form>
{% endblock %}