{% extends "layout.html" %}

{% block title %}
    Update Balance
{% endblock %}

{% block main %}
    <h3>Account Balance: {{ balance }}</h3>
    <hr>
    <h3>Add Cash:</h3>
    <form action="/cash" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="cash" placeholder="Amount of Cash to Add (USD)" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add Cash</button>
    </form>
{% endblock %}
