{% extends "layout.html" %}

{% block title %}
    Receive a quote for the price of given stock.
{% endblock %}

{% block main %}
    <h3>Stock Value:</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Current Price per Share</th>
                <th scope="col">Total </th>
            </tr>
        </thead>
        <tr>
            <td>{{ symbol }}</td>
            <td>{{ price }}</td>
        </tr>
    </table>
{% endblock %}