{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h3>Stock Value:</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Current Price per Share</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        {% for row in combined_data %}
        <tr>    
                <td>{{ row["stock"]}}</td>
                <td>{{ row["shares"]}}</td>
                <td>{{ row["price"] | usd}}</td>
                <td>{{ row["total_value"] | usd}}</td>  
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td><b>Cash:</b></td>
            <td>{{ cash | usd}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><b>Total:</b></td>
            <td>{{ total | usd}}</td>
        </tr>
    </table>
{% endblock %}