{% extends "layout.html" %}

{% block title %}
    Receive a quote for the price of given stock.
{% endblock %}

{% block main %}
    <h3>Stock Value:</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Current Price per Share</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tr>
            {{% for purchase in purchases %}}
            <td>{{ db.execute("SELECT stock FROM purchases") }}</td>
            <td>{{ db.execute("SELECT shares FROM purchases") }}</td>
            <td>{{  price}}</td>
            <td>{{ total }}</td>
        </tr>
    </table>
{% endblock %}