.navbar-brand {
    padding-left: 1vw;
}

#navbar {
    background-color: rgb(65, 82, 36);
    border-radius: 10px;
    margin-left: 1vw;
    margin-right: 1vw;
}

.lead {
    text-align: center;
    
}

#homewelcome {

}