/*Custom variables*/
:root {
    --sidebar_width: 20vw;
    --bgColor: #1c1d22;
    --panelColor: #23282e;
    --sidebarColor: #141318;
    --bubbleColor: #26262e;
    --buttonColor: #373a43;
    --iconColor: #c7c8cd;
    --content_width: calc(100vw - var(--sidebar_width));
    --topBarIconSize: unset;
    --sideBarIconWidth: 13vw;
    --borderRadius: 15px;
    --blurple: #5865F2;
    --green: #57F287;
    --yellow: #FEE75C;
    --red: #ED4245;
    --fuchsia: #EB459E;
    --white: #ffffff;
    --black: #000000;
    --brightBlurple: #5B66E2;
    --avatar-base-width: 11vw;
    --avatar-base-height: 11vw;
}