{% extends "layout.html" %} 
{% block title %} Projects in C {% endblock %} 
{% block body %}
<div id="projects" class="prose flex justify-center pt-6">
  <h1 id="projecttitle" class="text-center lg:ml-20 lg:text-left">Projects Written in C</h1>
  <hr style="width: 95%; margin: 1.5rem auto;">
  {% if projects %}
  <div id="projectcards">
    {% for project in projects %}
    <div class="card size-44 m-3 text-xs bg-neutral shadow-xl lg:w-64 lg:m-5 lg:h-auto lg:text-base">
      <figure><img src="{{ project['image'] }}" alt="placeholder" /></figure>
      <div class="card-body">
        <h2 class="card-title">{{ project['name'] }}</h2>
        <p>{{ project['description'] }}</p>
        <div class="card-actions justify-end">
          <button
            class="btn btn-secondary lg:btn-outline"
            onclick="window.location.href='{{ project['link'] }}'"
          >
            Source
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <button onclick="window.location.href='/projects'" class="btn btn-outline btn-accent w-56 mx-auto mt-10 projbutton lg:mt-0">See Featured Projects</button>
  {% endif %}
</div>
{% include "nav-projects.html" %}
{% endblock %}
