{% extends "layout.html" %} 
{% block title %} Projects {% endblock %} 
{% block body %}
<div id="projects" class="prose flex justify-center pt-6">
  <h1 id="projecttitle" class="m-auto md:ml-20">Projects</h1>
  <hr style="width: 95%; margin: 1.5rem auto;">
  {% if c_projects %}
  <h2 class="projecttitle m-auto md:ml-40">Projects Written in C</h2>
  <div id="projectcards">
    {% for project in c_projects %}
    <div class="card size-44 m-3 text-xs bg-neutral shadow-xl md:w-64 md:m-5 md:h-auto md:text-base">
      <figure><img src="{{ project['image'] }}" alt="placeholder" /></figure>
      <div class="card-body">
        <h2 class="card-title">{{ project['name'] }}</h2>
        <p>{{ project['description'] }}</p>
        <div class="card-actions justify-end">
          <button
            class="btn btn-secondary md:btn-outline"
            onclick="window.location.href='{{ project['link'] }}'"
          >
            Source
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <button onclick="window.location.href='/c-projects'" class="btn btn-outline btn-accent w-56 mx-auto mt-10 projbutton md:mt-0">See More Projects in C</button>
  {% endif %}
  {% if py_projects %}
  <br />
  <h2 class="projecttitle m-auto md:ml-40">Projects Written in Python</h2>
  <div id="projectcards">
    {% for project in py_projects %}
    <div class="card size-44 m-3 text-xs bg-neutral shadow-xl md:w-64 md:m-5 md:h-auto md:text-base">
      <figure><img src="{{ project['image'] }}" alt="placeholder" /></figure>
      <div class="card-body">
        <h2 class="card-title">{{ project['name'] }}</h2>
        <p>{{ project['description'] }}</p>
        <div class="card-actions justify-end">
          <button
            class="btn btn-secondary md:btn-outline"
            onclick="window.location.href='{{ project['link'] }}'"
          >
            Source
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <button onclick="window.location.href='/py-projects'" class="btn btn-outline btn-accent w-56 mx-auto mt-6 projbutton md:mt-0">See More Projects in Python</button>
  {% endif %}
  {% if web_projects %}
  <br />
  <h2 class="projecttitle m-auto md:ml-40">Web Development Projects</h2>
  <div id="projectcards">
    {% for project in web_projects %}
    <div class="card size-44 m-3 text-xs bg-neutral shadow-xl md:w-64 md:m-5 md:h-auto md:text-base">
      <figure><img src="{{ project['image'] }}" alt="placeholder" /></figure>
      <div class="card-body">
        <h2 class="card-title">{{ project['name'] }}</h2>
        <p>{{ project['description'] }}</p>
        <div class="card-actions justify-end">
          <button
            class="btn btn-secondary md:btn-outline"
            onclick="window.location.href='{{ project['link'] }}'"
          >
            Source
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <button onclick="window.location.href='/web-projects'" class="btn btn-outline btn-accent w-56 mx-auto mt-10 projbutton md:mt-0">See More Web Development Projects</button>
  {% endif %}
  {% if other_projects %}
  <br />
  <h2 class="projecttitle m-auto md:ml-40">Other Projects</h2>
  <div id="projectcards">
    {% for project in other_projects %}
    <div class="card size-44 m-3 text-xs bg-neutral shadow-xl md:w-64 md:m-5 md:h-auto md:text-base">
      <figure><img src="{{ project['image'] }}" alt="placeholder" /></figure>
      <div class="card-body">
        <h2 class="card-title">{{ project['name'] }}</h2>
        <p>{{ project['description'] }}</p>
        <div class="card-actions justify-end">
          <button
            class="btn btn-secondary md:btn-outline"
            onclick="window.location.href='{{ project['link'] }}'"
          >
            Source
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <button onclick="window.location.href='/other-projects'" class="btn btn-outline btn-accent w-56 mx-auto mt-6 projbutton md:mt-0">See More Projects in Other Languages</button>
  {% endif %}
</div>
{% include "nav-projects.html" %}
{% endblock %}
