.searchform {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search {
    display: flex;
    margin-top: 30vh;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline
}

#searchbox {
    margin-left: 12vw;
    margin-right: 12vw;
    border-radius: 50px;
    height: 4.5vh;
    background-color: var(--buttonColor);
    border: unset;
}

#searchbox:hover {
    border: solid;

}

#enter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2vw;
    gap: 2vw;
}

#topbar {
    display: flex;
    justify-content: flex-end;
    gap: 3vw;
    margin: 2vw;
}

.button {
    background-color: var(--buttonColor);
    color: white;
    border: unset;
    padding: 1vw;
    border-radius: 0.5vw;
    border-width: thin;
}

.button:hover {
    border: solid;
    border-width: thin;
}

#searchimg, #searchadv {
    color: white;

}

body {
    background-color: var(--bgColor);
    --bgColor: #202124;
    --buttonColor: #303134;
}