.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 45vw;
}

#enter {
    
}

#topbar {
    display: flex;
    justify-content: flex-end;
    gap: 3vw;
}