body {
    background-color: var(--bgColor);
    --bgColor: #202124;
    --buttonColor: #303134;
}

.logo {
    margin-top: 30vh;
    display: flex;
    justify-content: center;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline
}

#searchbox {
    margin-left: 12vw;
    margin-right: 12vw;
    border-radius: 50px;
    height: 4.5vh;
    background-color: var(--buttonColor);
    border: unset;
    text-indent: 15px;
}

#searchbox:hover {
    border: solid;
}

.searchform {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#enter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2vw;
    gap: 2vw;
}

#topbar {
    display: flex;
    justify-content: flex-end;
    gap: 3vw;
    margin: 2vw;
}

.button {
    background-color: var(--buttonColor);
    color: white;
    border: unset;
    padding: 1vw;
    border-radius: 0.5vw;
    border-width: thin;
}

.button:hover {
    border: solid;
    border-width: thin;
}

#searchimg, #searchadv {
    color: white;
}

.imgsearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
    align-items: center;
}

#imgsearchbox {
    border-radius: 50px;
    height: 4.5vh;
    background-color: var(--buttonColor);
    border: unset;
    width: 30vw;
    text-indent: 15px;
}

#imgsearchbox:hover {
    border: solid;
}

#advtopbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1vw;
}

.line {
    display: flex;
    gap: 2vw;
    align-items: center;
}

.advsearch {
    color: grey;
}

.line > input {
    height: 3vh;
    width: 30vw;
    background-color: var(--bgColor);
    border: solid;
    border-color: grey;
    border-width: 1px;
}

.topline {
    display: flex;
    gap: 2vw;
    justify-content: space-between;
    align-items: center;
    margin-right: 20vw;
    color: white;
    font-family: sans-serif;
    font-weight: normal;
}

.lastline {
    display: flex;
    gap: 2vw;
    align-items: center;
}

.advsearch {
    margin-left: 3vw;
}

.intro {
    width: 12vw;
}

.advform {
    width: 80vw;
}

.lastsearch {
    display: flex;
    width: 30vw;
    gap: 2vw;
    justify-content: space-between;
    height: 3vh;
    align-items: center;
}

.lastsearch > input {
    background-color: var(--bgColor);
}